<div class="banner">
<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
</div>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Type smth">
  <input type="submit" value="Ask !">
</form>
